In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Taltal,CL,2022-09-03 18:11:20,-25.4000,-70.4833,66.67,53,8,4.90
1,1,Kapaa,US,2022-09-03 18:11:20,22.0752,-159.3190,81.10,79,100,14.97
2,2,Srednekolymsk,RU,2022-09-03 18:11:21,67.4500,153.6833,33.33,84,100,7.02
3,3,Albany,US,2022-09-03 18:11:21,42.6001,-73.9662,82.38,54,96,3.00
4,4,Qaanaaq,GL,2022-09-03 18:11:22,77.4840,-69.3632,38.53,98,100,10.00

In [3]:
# verify data columns are float or int
city_data_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 547 entries, 0 to 546
Data columns (total 10 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   City_ID     547 non-null    int64
 1   City        547 non-null    object
 2   Country     544 non-null    object
 3   Date        547 non-null    object
 4   Lat         547 non-null    float64
 5   Lng         547 non-null    float64
 6   Max Temp    547 non-null    float64
 7   Humidity    547 non-null    int64
 8   Cloudiness  547 non-null    int64
 9   Wind Speed  547 non-null    float64
dtypes: float64(4), int64(3), object(3)
memory usage: 42.9+ KB

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [6]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    # if temp is liess than 0, then 0 will be added to the temp list to avoid negatives
    temps.append(max(temp, 0))

In [18]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable. make it zoom so geographic center of earth is shown on one map only
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable. 
## list comprehension for loop to replace negative temps
## dissapation, max_intensity, point_radius to make zoomed gradients more visible
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [19]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [20]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [21]:
# Heatmap of wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [23]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

In [24]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
1,1,Kapaa,US,2022-09-03 18:11:20,22.0752,-159.3190,81.10,79,100,14.97
3,3,Albany,US,2022-09-03 18:11:21,42.6001,-73.9662,82.38,54,96,3.00
8,8,Nichinan,JP,2022-09-03 18:11:23,31.6000,131.3667,77.13,86,100,5.23
12,12,Makakilo City,US,2022-09-03 18:11:24,21.3469,-158.0858,79.12,78,40,8.05
15,15,Goderich,CA,2022-09-03 18:11:25,43.7501,-81.7165,77.32,73,1,9.22
16,16,Luau,AO,2022-09-03 18:11:26,-10.7073,22.2247,79.52,35,95,7.27
17,17,New Richmond,US,2022-09-03 18:11:26,45.1230,-92.5366,75.70,58,0,4.61
19,19,Salalah,OM,2022-09-03 18:11:27,17.0151,54.0924,78.89,83,100,6.91
20,20,Corn Island,NI,2022-09-03 18:11:27,12.1694,-83.0418,82.65,74,96,11.01
24,24,Port-Gentil,GA,2022-09-03 18:11:29,-0.7193,8.7815,76.96,83,100,10.36

In [27]:
preferred_cities_df.count()

City_ID       190
City          190
Country       190
Date          190
Lat           190
Lng           190
Max Temp      190
Humidity      190
Cloudiness    190
Wind Speed    190
dtype: int64

In [28]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

             City Country  Max Temp      Lat       Lng Hotel Name
1           Kapaa      US     81.10  22.0752 -159.3190
3          Albany      US     82.38  42.6001  -73.9662
8        Nichinan      JP     77.13  31.6000  131.3667
12  Makakilo City      US     79.12  21.3469 -158.0858
15       Goderich      CA     77.32  43.7501  -81.7165
16           Luau      AO     79.52 -10.7073   22.2247
17   New Richmond      US     75.70  45.1230  -92.5366
19        Salalah      OM     78.89  17.0151   54.0924
20    Corn Island      NI     82.65  12.1694  -83.0418
24    Port-Gentil      GA     76.96  -0.7193    8.7815

In [29]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [31]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [33]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
1,Kapaa,US,81.10,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
3,Albany,US,82.38,42.6001,-73.9662,
8,Nichinan,JP,77.13,31.6000,131.3667,Guest House Aki
12,Makakilo City,US,79.12,21.3469,-158.0858,Marriott's Ko Olina Beach Club
15,Goderich,CA,77.32,43.7501,-81.7165,Harmony Inn
16,Luau,AO,79.52,-10.7073,22.2247,Kimbo Hotel
17,New Richmond,US,75.70,45.1230,-92.5366,Coratel Inn & Suites by Jasper New Richmond
19,Salalah,OM,78.89,17.0151,54.0924,"HAMDAN PLAZA HOTEL SALALAH, an HTG Hotel"
20,Corn Island,NI,82.65,12.1694,-83.0418,Big Fish Guest House
24,Port-Gentil,GA,76.96,-0.7193,8.7815,Fengshui Residence

In [36]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [37]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [38]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))